body {
  color: #333;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}

#loc {
  height: 400px;
}

/*GENERAL*/
.box-shadow, .list-navigation li.active .btn-nav, a.info-box:hover, a.info-box:focus, a.info-box:active, .btn-standard {
  box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.2);
}

.box-mid-out {
  height: 100%;
  display: table;
  width: 100%;
}

.box-mid-in {
  display: table-cell;
  vertical-align: middle;
}

.row-sm {
  margin-left: -5px !important;
  margin-right: -5px !important;
}
.row-sm > div {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/*TITLE*/
.title-main {
  font-family: "Open Sans", sans-serif;
  color: #007D9D;
  font-weight: 700;
}

.title-sub {
  font-family: "Open Sans", sans-serif;
  color: #221e20;
  font-weight: 600;
}

/*BUTTON*/
.btn-warning {
  background-color: #ea9600;
}

.btn-danger {
  background-color: #CE2020;
}

.btn-direction {
  background-color: #CAF1FF;
}


.default-transition, a.info-box, .btn-standard {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-standard {
  padding: 10px 15px;
  min-width: 150px;
  border-radius: 50px;
  background-color: #CE2020;
  color: #fff;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.btn-standard:hover, .btn-standard:focus, .btn-standard:active {
  color: #fff;
  background-color: #007D9D;
}

.btn-circle {
  width: 34px;
  height: 34px;
  border-radius: 100% !important;
}

/*NAVIGATION*/
.main-header .logo, .main-header .navbar, .main-header .user > a {
  height: 51px !important;
}
.main-header li.user-header {
  height: auto !important;
  background-color: #fff !important;
}
.main-header li.user-header p {
  margin: 0;
  color: #444 !important;
}

.skin-red-light .sidebar-menu > li > a,
.skin-red-light .sidebar-menu > li:hover > a, .skin-red-light .sidebar-menu > li.active > a {
  color: #161616;
  font-weight: 400;
}

.skin-red-light .sidebar-menu > li.active > a {
  background-color: #CAF1FF;
  border-left: 3px solid #CAF1FF;
  font-weight: 700;
  color: #333;
}

.treeview-menu > li > a {
  padding-left: 35px;
}

/*FORM*/
.form-control {
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.seamless-input-group {
  position: relative;
}
.seamless-input-group .form-control {
  padding-left: 40px;
}
.seamless-input-group .seamless-addon {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 3px;
  width: 40px;
  text-align: center;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translateX(0, -50%);
  -o-transform: translateX(0, -50%);
}

.form-inline .form-group {
  vertical-align: top;
}

.ck-editor__editable_inline {
  min-height: 200px !important;
}

.btn-default.selectpicker {
  background-color: #fff !important;
}

.bootstrap-select .dropdown-menu > li > a:hover {
  background-color: #b9bcbf;
}

.required:after {
  content: "*";
  color: #Ed1c24;
}

.form-group-inline .bootstrap-select.form-control:not([class*=col-]) {
  width: auto;
  min-width: 150px;
  max-width: 100%;
}

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
  margin-right: 0 !important;
}

.input-group .form-control {
  margin-left: -1px !important;
}

.input-group-btn > .btn + .btn {
  margin: 0;
}

.box-body .form-group {
  margin-bottom: 30px;
}

/*radio button n checkbox custom*/
.radio {
  display: block;
  position: relative;
  padding-left: 40px;
  line-height: 32px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio input:checked ~ .checkround {
  background-color: #fff;
}
.radio input:checked ~ .checkround:after {
  display: block;
}
.radio .checkround {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: #fff;
  border-color: #Ed1c24;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}
.radio .checkround:after {
  content: "";
  font-family: FontAwesome;
  text-align: center;
  color: #fff;
  line-height: 24px;
  position: absolute;
  top: 2px;
  right: auto;
  bottom: auto;
  left: 2px;
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #Ed1c24;
}

.check {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.check input:checked ~ .checkmark {
  background-color: #fff;
}
.check input:checked ~ .checkmark:after {
  display: block;
}
.check .checkmark:after {
  width: 5px;
  height: 10px;
  border: solid;
  border-color: #f8204f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 3px;
  right: auto;
  bottom: auto;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-color: #Ed1c24;
  border-style: solid;
  border-width: 2px;
}
.checkmark:after {
  content: "";
  position: absolute;
  top: 1px;
  right: auto;
  bottom: auto;
  left: 5px;
  display: none;
}

/*LOGIN*/

.login-logo {
  width: 100%;
  max-width: 200px;
}

.login-holder {
  padding-top: 50px;
  background-color: #CAF1FF;
  min-height: 100vh;
}
.login-holder .form-control {
  height: 45px;
}

.box-logo {
  padding: 10px 15px;
}

.bg-logo {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  width: 400px;
}

/* .img-logo-login {
  position: absolute;
  top: 15px;
  right: auto;
  bottom: auto;
  left: 15px;
  width: 50%;
  max-width: 180px;
  height: auto;
} */

.box-login {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  background-color: #fff;
  border-radius: 10px;
}

.bg-aqua {
  background-color: #65c4db !important;
}

.bg-yellow {
  background-color: #ea9600;
}

.small-box-holder {
  max-width: 320px;
}

.small-box {
  padding-bottom: 27px;
}
.small-box .title {
  margin: 0;
}
.small-box .small-box-footer {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
.small-box .inner-holder {
  padding: 10px;
  position: relative;
}

.small-box-img {
  position: absolute;
  top: 50%;
  right: 10px;
  bottom: auto;
  left: auto;
  width: 100px;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translateX(0, -50%);
  -o-transform: translateX(0, -50%);
}

.box-body,
.box-header {
  padding: 15px 10px;
}

.table-bordered,
.table-bordered th,
.table-bordered td {
  border-color: #ddd !important;
}

.table .checkbox, .table .radio {
  margin: 0;
}

.feedback-img {
  margin-right: 3px;
  width: 20px;
  display: inline-block;
}

.box-package {
  margin-bottom: 30px;
  border: 1px solid #ffd500;
  background-color: rgba(255, 254, 0, 0.2);
}

.box-package-body,
.box-package-header {
  padding: 10px;
}

a.info-box {
  margin: 10px 0;
}
.img-thumb {
  display: block;
}
.img-thumb:hover, .img-thumb:focus, .img-thumb:active {
  opacity: 0.8;
}

.panel-navigation {
  border: 1px solid #ddd;
}

.info-box-icon {
  padding: 15px;
  line-height: 1;
}
.info-box-icon img {
  max-width: 60px;
  max-height: 60px;
}

.list-nav-info li {
  margin: 3px 10px;
  display: inline-block;
  line-height: 1;
  font-weight: 700;
  color: #999;
}
.list-nav-info li span {
  display: inline-block;
  line-height: 14px;
}
.list-nav-info li .empty-sign,
.list-nav-info li .done-sign {
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.list-nav-info li .empty-sign {
  background-color: #efefef;
}
.list-nav-info li .done-sign {
  background-color: #99cc00;
}

.btn-nav {
  background-color: #f5f5f5;
  border: 2px solid #ddd;
}
.btn-nav:hover {
  border-color: #65c4db;
}
.btn-nav.done {
  background-color: #99cc00;
  color: #fff;
}

.list-navigation {
  margin: 0 -3px;
}
.list-navigation li {
  padding: 3px;
  display: block;
  float: left;
}
.list-navigation li.display-xs-block {
  margin-bottom: 3px;
  width: 100%;
}
.list-navigation li.active .btn-nav {
  border-color: #Ed1c24;
  background-color: #efefef !important;
}
.list-navigation li.active .btn-nav.done {
  background-color: #99cc00 !important;
}
.list-navigation li.navigation-numb {
  width: 10%;
  margin-bottom: 3px;
}
.list-navigation li .btn-nav {
  padding: 6px;
  display: block;
  width: 100%;
}

/*ALERT*/
.alert {
  font-weight: 600;
}

.alert-success {
  background-color: #00a65a !important;
  border-color: #00a65a;
}

.alert-info {
  background-color: #65c4db !important;
  border-color: #65c4db;
}

.alert-danger {
  background-color: #Ed1c24 !important;
  border-color: #Ed1c24;
}

.alert-warning {
  background-color: #ea9600 !important;
  border-color: #ea9600;
}

/*PAGINATION*/
.pagination li {
  display: inline-block;
}

.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 3px;
}

.pagination li span {
  border: none;
}

.pagination li span:hover {
  background-color: transparent;
}

.pagination li + li {
  margin-left: 3px;
}

.pagination > li > a, .pagination > li > span {
  color: #444;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  border-color: #Ed1c24;
  background-color: #Ed1c24;
}

/*MODAL*/
.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body,
.modal-header {
  position: relative;
}
.modal-body .close,
.modal-header .close {
  padding: 10px 15px;
  position: absolute;
  right: 0;
  top: 0;
}

/*RESPONSIVE*/

/*# sourceMappingURL=admin.css.map */
